* {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}

#bg1 {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	z-index: -1;
}

#bg2{
	position: absolute;
	width: 100%;
	min-height: 100vh;
	z-index: -1;
}

header {
	width: 100%;
	height: 6rem;
	position: fixed;
	background-color:#3b3c44;
	z-index: 1000000;
	transition: all 0.4s ease-in-out 0s;
}

.header-left img{
	width: 12rem;
	height: 6rem;
}

.header-right {
	float: right;
	display: flex;
	padding: 1.3rem 5rem;
	
}

.right {
	margin: 0 1rem;
	font-size: 1rem;
	color: rgb(248, 251, 251);
	
}

.header-right img {

	height: 2.8rem;
	color: black;
}


.header-left img {
	float: left;
	height: 6rem;
	margin: 0 5rem;
}


#nav a {
	color: #f2f2f2;
	padding: 1.8rem 2rem;
	text-decoration: none;
	font-size: 17px;
	font-size: 1.2rem;
	font-weight: 600;
	
}


.section1 {
	height: 100%;
	display: flex;
	padding: 3rem;
	letter-spacing: .05rem;
	row-gap: .5rem;
	justify-content: center;
	align-items: center;
	/* position: relative; */
	padding-top:10rem ;
	background-image: url("img2.png");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;

}

.section1 .info {

	padding: 1rem 5rem ;
	justify-content: space-between;
	font-size: 1.2rem;
	/* border: 1px solid red; */
	row-gap: 1.2rem;
	color: #3a2020;
	font-weight: 500;
}

.section1 .info h3{
	font-size: 2rem;
	padding-bottom: 2rem;
}

.section1 .info h3 span{
	font-size: 1.5rem;
	font-weight: 800;
}

.section1 #points button {
	padding: 1.2rem;
	font-weight: bold;
	font-size: .8rem;
	color: aliceblue;
	border-radius: .8rem;
	border: none;
	box-shadow: .4rem .4rem black;
	background: linear-gradient(rgb(181, 166, 166), rgb(89, 89, 119));
}

.section1 #points button a{
	color:aliceblue;
	text-decoration: none;
}


#section2{
	display: flex;
}
.container2{
margin: 2rem 4rem;
background-color: rgb(148, 148, 148);
float: left;
padding: 1rem 2rem;
border-radius: 1.5rem;
font-weight: 500;
box-shadow: .2rem .2rem black;
}

.container2 h2{
	text-align: center;
	padding: 1rem;
	color: rgb(73, 46, 12);
}

#table th , td{
	text-align: center;
	padding: 1rem 1rem;
	border: 1px solid black;
	
}

 .last{
	border: 1px solid rgb(148, 148, 148);
}

#table{
	border: 1px solid black;
}
#criteria {
	margin: 2rem 0;
	padding: 2rem 2rem;

}
#criteria li{
  padding: 1rem 1rem;
}

#section2,#section3 ,#section4 ,#section5 ,#section6{
	z-index: -1;
	padding-bottom:2rem ;
	
}

#section3 h2 {
	color: #252f4c;
	margin: 1rem 5rem;
	padding: 2rem 3rem;
	font-weight: 700;
	text-align: center;
	font-size: 2.8rem;
	text-shadow: .1rem .1rem grey;
	
}
#section3 #table{
	background-color: rgb(148, 148, 148);
margin-left: auto;
margin-right: auto;
border-radius: 1.5rem;
padding: 2rem;
box-shadow: .2rem .2rem black;

}

  #section4 #table ,#section5 #table ,#section6 #table{
background-color: rgb(148, 148, 148);
margin-left: auto;
margin-right: 5rem;
border-radius: 1.5rem;
padding: 2rem;
/* width: 50%; */
box-shadow: .2rem .2rem black;
}

#section4 .container , #section5 .container ,#section6 .container{
	display: flex;
padding: 3rem 1rem;
}
#section4 h2 , #section5 h2 ,#section6 h2{
	padding: 3rem 4rem 2rem 3rem;
	font-weight:bold;
	color: rgb(24, 64, 51);
	font-size: 2.8rem;
	text-shadow: .1rem .1rem grey;
}
#section4 p , #section5 p ,#section6 p{
	justify-content: space-between;
	/* font-weight:lighter; */
	width: 50%;
    color: rgb(19, 40, 40);
	row-gap: 1rem;
	font-size: 1.0rem;
	
}
#section4 .left ,#section5 .left ,#section6 .left {
	/* border: 1px solid red; */
	width: 60%;
}

#section6 p span{
	color: #2c3c6c;
	font-weight: bold;
	row-gap: 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.footer {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(50%, 50%); */
  /* max-width: 1280px; */
  width: 100%;
  background: #3b3c44;
  border-radius: 6px;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}
.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 20px;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col form {
  display: flex;
  gap: 5px;
}
.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}
.footer-col input::placeholder {
  color: #ccc;
}
 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.footer-col form button:hover {
  background: #cecccc;
}
.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons i {
  color: #afb6c7;
}
.footer-col .icons i:hover  {
  color: #fff;
}
@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }
  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }
  .footer-col form {
    display: block;
  }
  .footer-col form :where(input, button) {
    width: 100%;
  }
  .footer-col form button {
    margin: 10px 0 0 0;
  }
}

